<!DOCTYPE html>
<html lang="en">

<head>
      <!-- header-->
      <%-  include ('componentes/head.html')  %>
      <!-- header-->
    <title>ANALIZADOR DE SENTIMIENTOS</title>
    <!-- jsMain -->
  
    <!-- jsMain -->
</head>

<body>
    <main>
         <!-- header-->
         <%-  include  ('componentes/header.html') %>
         <!-- header-->
        <section class="container my-5" id="busqueda">
            <div>
                <h1>Analizador de sentimientos</h1>
                <p>
                    Ingrese el comentario en el cuadro de texto y presione el boton para realizar el analisis.
                </p>
                <p>
                    Para limpiar los resultados presione el boton <input class="btn btn-info" type="submit" value="limpiar resultados" onclick="limpiardiv('contenedor-analizado');" id="btn-limpiar">
                </p>
            </div>
            <div class="container my-5">
                <div class="input-group mb-3">
                    <textarea id="my-textarea" class="form-control" name="txt-analizar" rows="3" id="txt-analizar" required target="_self"></textarea>
                    <input class="btn btn-info" type="submit" value="Evaluar" id="btn-analizar">
                </div>
            </div>
        </section>
        <section class="container d-flex flex-column-reverse bd-highlight">
        <div  id="contenedor-analizado">
        </div>  
        </section>
        <footer>
        </footer>
    </main>
    <script type="text/javascript" src="/js/analizador.js"></script>
</body>

</html>